body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.center-box {
    display: inline-block;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 600px;
}

.video-box {
    display: inline-block;
}

h1 {
    margin: 0;
    padding: 0;
    color: #333;
}

p {
    margin: 0;
    padding: 0;
    color: #555;
}


.center-box {
    text-align: center;
}

.video-box {
    margin-bottom: 20px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}


.image-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-box-small {
    flex-basis: 48%;
}

.image-box-small img {
    max-width: 100%;
    height: auto;
}

.text-box {
    text-align: center;
    margin-top: 10px;
}