* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.centered-section {
    text-align: center;
    margin-top: 50px;
}

.centered-image img {
    max-width: 100%;
    height: auto;
}

.centered-text {
    margin-top: 20px;
}

.side-images-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.side-image {
    text-align: center;
    width: 30%;
}

.side-image img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

.side-image h3 {
    margin-top: 10px;
}

.side-image p {
    margin-top: 5px;
}