* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.top-3d-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.left-3d-box,
.right-3d-box {
    width: 30%;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.centered-section {
    text-align: center;
    margin-top: 50px;
}

.centered-image img {
    max-width: 100%;
    height: auto;
}

.centered-text {
    margin-top: 20px;
}

.side-images-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.side-image {
    text-align: center;
    width: 30%;
}

.side-image img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

.side-image h3 {
    margin-top: 10px;
}

.side-image p {
    margin-top: 5px;
}

.bottom-section {
    margin-top: 50px;
}

.bottom-image img {
    max-width: 100%;
    height: auto;
}

.bottom-text {
    margin-top: 20px;
}