* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.top-3d-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.left-3d-box,
.right-3d-box {
    width: 30%;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.centered-section {
    text-align: center;
    margin-top: 50px;
}

.centered-image img {
    max-width: 100%;
    height: auto;
}

.centered-text {
    margin-top: 20px;
}

.side-images-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.side-image {
    text-align: center;
    width: 30%;
    margin: 0 10px 20px;
}

.side-image img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

.side-image h3 {
    margin-top: 10px;
}

.side-image p {
    margin-top: 5px;
}

.bottom-section {
    margin-top: 50px;
}

.bottom-image img {
    max-width: 100%;
    height: auto;
}

.bottom-text {
    margin-top: 20px;
}


.bottom-3d-box {
    width: 60%;
    margin: 20px auto;
    background: linear-gradient(rgba(255, 0, 0, 0.75), rgba(255, 211, 211, 0.75));
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box-content {
    text-align: left;
}

.bottom-3d-box h3 {
    margin-bottom: 10px;
}

.bottom-3d-box ul {
    list-style-type: none;
}

.bottom-3d-box li {
    margin-bottom: 5px;
}

.link-box {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.link-box:hover .box-content {
    background-color: #f1f1f1;
}

.box-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.link-box h3 {
    margin-bottom: 10px;
}

.link-box p {
    margin-bottom: 0;
}