.image-info {
    margin-top: 30px;
    text-align: center;
}

.image-info h3 {
    margin-bottom: 30px;
    font-size: 18px;
}

.image-info p {
    font-size: 14px;
    color: #272323;
}

.description {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #555;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.image-box {
    width: 30%;
    /* Adjust the width as needed */
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: auto;
}

.description {
    margin-top: 50px;
    text-align: center;
}