body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 100vh;
}

.box {
    width: 100px;
    /* Adjust the width as needed */
    height: 80px;
    /* Adjust the height as needed */
    margin: 10px;
    /* Adjust the margin to control spacing */
    margin-top: 20px;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.left-box {
    margin-right: auto;
}

.center-box {
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box {
    margin-left: auto;
}