* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(246, 13, 13, 0.75), rgba(246, 211, 211, 0.75)), url(images\ -\ Copy/bannerOS.png);
    background-size: cover;
    background-position: center;

}

.navbar {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 40px 0;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Add any other styles you need for the ul */
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009289;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.Content {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}

.Content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.Content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
}